/* Preset */
.default .wrapper{max-width:1300px;}
.default .header{padding:60px 0;}

/* Portfolio Page */
.portfolio_con{display:flex;flex-flow:row wrap;justify-content:center;align-items:stretch;gap:15px;}
.portfolio_con .pc_box{display:flex;flex-flow:column wrap;width:32%;background:#fff;padding:20px;text-align:left;box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);}
.portfolio_con .pc_box figure img{width:100%;height:100%;}
.portfolio_con .pc_box section{display:block;margin-top:15px;}
.portfolio_con .pc_box section h2{font-size:24px;margin-bottom:10px;}
.portfolio_con .pc_box section p{font-family:'Montserrat';font-size:18px;font-weight:300;margin-bottom:15px;}
.portfolio_con .pc_box ul{display:flex;flex-flow:row wrap;justify-content:flex-start;align-items:center;gap:10px;}
.portfolio_con .pc_box:hover{transform:scale(1.02);cursor:pointer;}

@media only screen and (max-width : 1400px) {
	.default .header{padding:40px 20px;}
	.portfolio_con .pc_box{width:46%;}
}

@media only screen and (max-width :768px) {
	.default .header{padding:40px 20px;}
	.portfolio_con .pc_box{width:100%;}
}